/target

# Ignore any IDE (VS Code only) settings files.
**/.vscode

# Ignore all Build files, except for binaries & build scripts.
**/Build/*
!**/Build/bin
!**/Build/build.sh

# Ignore all venv and __pycache__ files.
**/*venv*
**/__pycache__
