[Unit]
Description=JR Hyaku HTTP API
After=network.target postgresql.service
Wants=postgresql.service

[Service]
Type=simple
User=<@@@>
WorkingDirectory=/home/<@@@>/Desktop/jr-hyaku/api
ExecStart=/home/<@@@>/Desktop/jr-hyaku/api/.venv/bin/uvicorn api:app --host 0.0.0.0 --port 8000

Restart=always
RestartSec=30

StandardOutput=journal
StandardError=journal
SyslogIdentifier=jr-hyaku-api

[Install]
WantedBy=multi-user.target
